.footer-container ul {
    display: flex;
    color: $main-color;
    justify-content: space-between;
    list-style: none;
    font-size: $medium-size;
    padding-bottom: 50px;
    border-bottom: 1px solid $line-color;
    margin-bottom: 60px;
    
        a {
            text-decoration: none;
            color: $main-color;
                i {
                    margin: 0 10px;
                }
           
        }
}