/* HEADER */


header {

    .main-menu {
        display: flex;
        flex-direction: column;
        align-content: center;

        h1 {
            font-family: $logo-font;
            font-size: $logo-font-big-size;
            color: $secondary-color;
        }

        ul { 
            display: flex;
            font-family: $main-font;
            font-size: $medium-size;
            color: $main-color;
            font-weight: bold;
            position: relative;
            justify-content: space-between;

            li {
                margin: 30px;
            }

        }
    }

    @media (max-width: 630px) {
        display: none

    }
}