
.header-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

    }
    .main-menu {
        display: flex;
        flex-direction: column;
        align-content: center;


        h1 {
            font-family: $logo-font;
            font-size: $logo-font-big-size;
            color: $secondary-color;
            margin: 0;
            text-align: center;
        }

        ul  {
            font-family: $main-font;
            color: $main-color;
            justify-content: space-around;
            display: flex;
            font-weight: bold; 
        
                li {
                    line-height: 40px;
                    padding: 0 10px;
                    margin: 0 10px; 

                    
                }

        
            a:hover {
                color: $secondary-color;
            }

            a:hover i {
                color: $secondary-color;
            }
        
        }



.sub-menu-container {
    position: relative;

        i {
            vertical-align: 3px;
        }
    
        &:hover .sub-menu {
        visibility: visible;
        cursor: pointer;
    }
}

.sub-menu {
    position: absolute;
    background-color:white;
    left: -10px;
    top: 29px;
    width: 110px;
    flex-direction: column;
    z-index: 1;
    visibility: hidden;

}


    .header-image-container {
        justify-content: center;
        width: 100%;

            img {
                width: 100%;
                flex-shrink: 1;
            }
    }
}

