/* ID PARA ESTILOS GENERALES DE RECEPIES*/

#recepies {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $main-font;
    color: $main-color;
    width: 100%;

    @media (max-width: 400px) {
    }

.general-container {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    
}    
/* CASITA Y TEXTO BAJO LA FOTO DEL BANNER */

           .route-page {
                
                display: flex;
                justify-items: flex-start;
                flex-grow: 1;

                    .home-and-archive {
                        font-weight: bold;
                    }
        
                    #home-icon {
                        padding-top: 20px;
                    }

                    .single-post-blog {
                        color: #686666;
                    }
            }
.content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ÍCONOS DE REDES SOCIALES Y RECETA GENERAL */

            .recipe-details {
                font-family: $main-font;
                color: $main-color;
                flex-direction: column;
                display: flex;
                flex-grow: 1;
                justify-content: center;

                /*Estilar los íconos, no sé cómo hacerlo*/
                    .social-media-icons {
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;
                        list-style: none;
                        

                            .margin-icons {
                                margin:10px;
                            }
                    }

                        .recipe-img {
                            display: flex;
                            justify-content: center;
                            margin-top: 50px;
                            
                                img {
                                    width: 600px;
                                }
    
                        }

                                .img-radius {
                                    border-radius: 40px 40px 40px 40px;
                                }

/* AUTORA DE LA RECETA, FECHA E INTERACCIONES DE REDES SOCIALES */

                /*Datos de la autora*/

                .news-info {
                    display: flex;
                    justify-content: space-between;
                    margin-left: 50px; 
                    margin-top: 30px;
                    width: 600px;          
                      
                    
            
                }
            
                .info-details {
                    display: flex;
                    align-items: flex-start;
                    font-size: $small-size;
            
                   
                }
            
            
                .comments-info {
                    display: flex;
                    align-items: flex-start;
                    font-size: $small-size; 
                        a {
                            width: 28px;
                        }
                    
                }

                

/* PASO A PASO DE LA RECETA */

            .receipe-text {
                display: flex;
                flex-direction: column;
                width: 600px;
                align-items: flex-start;
            }

                .recipe-steps {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin-left: 50px;
                    

                    h2 {
                        font-weight: bold;
                    }
                    
                    /*Descripción breve de la receta*/

                    .recipe-description {
                        color: #686666;
                    }

                    /*Frase citada*/

                    blockquote {
                        border-left: 3px solid #e98a4b;
                        
                    }

                    .quote {
                        font-weight: bold;
                    }

                    /*Dueña de la frase citada*/

                    .author-name {
                        font-weight: normal;
                    }                    

                    /*Lista de ingredientes*/

                        ul {
                            list-style: none;

                            li::before {
                                content: "• ";
                                color: $secondary-color;
                                width: 1em;
                                margin-left: -em;
                            }
                        }
                }
        }        
}