/* FONTS */ 
/* Hay que linkear en html esto: 
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> 

En los tamaños de fuente puse al tanteo, dsps lo vamos ajustando*/

$main-font: 'IBM Plex Mono', monospace; /* Es la fuente que está en la mayoría de los párrafos y títulos*/
$paragraph-size: 15px;
$big-size: 30px; /* Este es el tamaño para los títulos de las noticias, por ejemplo*/
$medium-size: 20px; /* Este es el tamaño para el nav y los títulos de las secciones*/
$logo-font: 'Indie Flower', cursive; /* Es la fuente del banner*/
$logo-font-big-size: 50px; 


/* COLORS */

$secondary-color: #e98a4b; /*Título del banner*/
$tittle-color: black; /* Títulos de noticias y algunos más*/
$main-color: #686666; /*Para la mayoría del texto y creo que también para losíconos*/
$items-color: #f7c9d0; /*Para botones y cintillos, tipo Sobre mí y Newsletter*/
