@charset "UTF-8";
/* FONTS */
/* Es la fuente que está en la mayoría de los párrafos y títulos*/
/* Para las volantas*/
/* Este es el tamaño para los títulos de las noticias, por ejemplo*/
/* Este es el tamaño para el nav y los títulos de las secciones*/
/* Es la fuente del banner*/
/* COLORS */
/*Título del banner*/
/* Títulos de noticias y algunos más*/
/*Para la mayoría del texto y creo que también para losíconos*/
/*Para botones y cintillos, tipo Sobre mí y Newsletter*/
/*Para las líneas divisorias, es el mismo color que $main-color, pero con un poco de transparencia*/
body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h6 {
  margin: 0;
  padding: 0;
}

i {
  margin: 0;
  padding: 0;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  position: relative;
}

.footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #686666;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  font-size: 17px;
  padding-bottom: 50px;
  border-bottom: 1px solid #68666679;
  margin-bottom: 60px;
  margin-top: 70px;
}

@media (max-width: 780px) {
  .footer-container ul span {
    display: none;
  }
}

.footer-container ul a {
  text-decoration: none;
  color: #686666;
}

.footer-container ul a i {
  margin: 0 10px;
}

/* buttons del secondary-menu de la home */
.button1 {
  background-color: white;
  height: 25px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  line-height: normal;
  font-weight: bold;
  position: absolute;
  margin: auto;
  border-radius: 20px;
  /* Acá está el hover de los buttons*/
}

.button1:hover {
  background-color: #e98a4b;
  cursor: pointer;
}

.button2 {
  background-color: #f7c9d0;
  height: 25px;
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  line-height: normal;
  font-weight: bold;
  border-radius: 20px;
  /* Acá está el hover de los buttons*/
}

.button2:hover {
  background-color: white;
  cursor: pointer;
}

i {
  margin: 0 10px;
  text-decoration: none;
  color: #686666;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #686666;
}

#mobile-icon {
  color: #e98a4b;
  display: none;
  position: absolute;
  bottom: 25px;
  left: 40%;
  font-size: 40px;
}

@media (max-width: 400px) {
  #mobile-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "IBM Plex Mono", monospace;
  color: #686666;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  /* Columna contenedora*/
  /* Slider */
  /* Menú secundario*/
  /* Main, generalidades */
  /* Video */
  /* Noticias de recetas */
  /* Aside (aboutme)*/
}

#home .content {
  width: 100%;
  max-width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 840px) {
  #home .slider ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#home .slider ul li {
  width: 24%;
}

@media (max-width: 840px) {
  #home .slider ul li {
    width: 48%;
    margin-top: 30px;
  }
}

@media (max-width: 400px) {
  #home .slider ul li {
    width: 100%;
  }
}

#home .slider ul li img {
  width: 100%;
}

#home .slider ul li:nth-of-type(1n + 2) {
  /* En este media queries la 2da, 3ra y 4ta imagen del carrousel desaparecen*/
}

@media (max-width: 400px) {
  #home .slider ul li:nth-of-type(1n + 2) {
    display: none;
  }
}

#home .slider-text {
  display: none;
  position: absolute;
  background-color: rgba(243, 104, 12, 0.575);
  height: 110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#home .slider-text p {
  margin: 30px 0 10px 10px;
  padding: 0;
  font-size: 14px;
  color: white;
  opacity: 1.0;
}

@media (max-width: 400px) {
  #home .slider-text p {
    margin-right: 0;
  }
}

#home .slider-text h5 {
  margin: 0 0 10px 10px;
  padding: 0;
  font-size: 17px;
  color: white;
  opacity: 1.0;
}

@media (max-width: 400px) {
  #home .slider-text h5 {
    margin: 0;
  }
}

@media (max-width: 1180px) {
  #home .slider-text {
    /* En el media de 1180 px el hover de la primera imagen del carrousel crece en altura*/
    height: 70%;
  }
}

#home .slider-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#home .slider-image img {
  height: 100%;
}

#home .slider-image:hover .slider-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .big-column {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 650px) {
  #home .big-column {
    width: 100%;
  }
}

#home .secondary-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
}

#home .secondary-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (max-width: 550px) {
  #home .secondary-menu ul {
    /* En este media queries el secondary-menu pasa a estar en columna*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#home .secondary-menu ul li {
  width: 33%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 550px) {
  #home .secondary-menu ul li {
    width: 100%;
  }
}

#home .secondary-menu ul li img {
  width: 100%;
  margin: 0;
  border-radius: 20%;
}

#home .columns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

@media (max-width: 1180px) {
  #home .columns-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#home main {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

@media (max-width: 1180px) {
  #home main {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

#home .video-container {
  width: 100%;
}

@media (max-width: 400px) {
  #home .video-container {
    /* En este media queries el video desaparece*/
    display: none;
  }
}

#home .video {
  width: 100%;
  height: 450px;
}

#home .video-description {
  font-size: 10px;
}

#home .news {
  margin-top: 40px;
  border-top: 1px solid #68666679;
  padding-top: 30px;
}

#home .news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 630px) {
  #home .news-content {
    /* En este media queries el texto pasa abajo de la imagen*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#home .news-content img {
  width: 300px;
  border-radius: 20%;
}

@media (max-width: 630px) {
  #home .news-content img {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 400px) {
  #home .news-content img {
    display: none;
  }
}

#home .button2 {
  display: none;
}

@media (max-width: 400px) {
  #home .button2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 400px) {
  #home .news:nth-of-type(2) {
    /* En este media queries la segunda noticia desaparece*/
    display: none;
  }
}

#home .news-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#home .info-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
}

#home .comments-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 14px;
}

#home .comments-info a {
  width: 28px;
}

#home .news-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 20px;
}

@media (max-width: 400px) {
  #home .news-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
}

#home .news-text h6 {
  color: black;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}

@media (max-width: 400px) {
  #home .news-text h6 {
    margin-left: 0;
  }
}

#home #aboutme {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
}

@media (max-width: 1180px) {
  #home #aboutme {
    /* En este media queries el aside baja al final de la columna*/
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    height: 250px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 50px;
  }
}

@media (max-width: 630px) {
  #home #aboutme {
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 400px;
  }
}

#home #aboutme img {
  border-radius: 200%;
  height: 250px;
  width: 250px;
}

@media (max-width: 1180px) {
  #home #aboutme img {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
  }
}

#home .profile-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#home .lead {
  background-color: #f7c9d0;
  width: 100%;
  text-align: center;
  font-size: 17px;
  color: black;
}

@media (max-width: 1180px) {
  #home .lead {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 400px) {
  #home .lead {
    width: 280px;
  }
}

@media (max-width: 1180px) {
  #home .lead:nth-of-type(2) {
    position: absolute;
    top: 250px;
    left: 0;
  }
}

@media (max-width: 630px) {
  #home .lead:nth-of-type(2) {
    top: 400px;
  }
}

/* Cierra home*/
/*# sourceMappingURL=main.css.map */